@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'admin-lte/dist/css/adminlte.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

/* Custom styles */
:root {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    font-family: var(--font-sans);
}
